.tab {
  margin: 0 auto;
  margin-bottom: 30px;
  min-width: 60%;
  max-width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  > div {
    border-bottom: 1px solid #abc;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    font-family: "Abel";
    font-size: 1.3em;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0 25px 15px 25px;
    text-align: center;
    color: #abc;
    user-select: none;
  }
  label:hover {
    color: #789;
    cursor: pointer;
  }
  input:checked + label {
    color: black;
    border-bottom: 2px solid black;
  }
  section {
    display: none;
    padding: 20px 0 0;
    height: 100%;
  }
  #sourceCode-area {
    pre {
      margin: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
